<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for datas in object_list %}
        <a href="{% url 'main_app:detailview' slug=datas.slug %}">{{ datas.title | safe}}</a><br>
        {% if datas.image %}<br>

            <img src="{{ datas.image.url }}" alt=""><br>
        {% endif %}
        {{ datas.description | safe | truncatewords:10 }}<br>
    {% endfor %}

</body>
</html>
